* {
    background-color: rgb(65, 70, 75);
    
}

body {
    font-family: 'Courier New', Courier, monospace;
    margin: 35px;
}

div {
    color: aliceblue;
}

h1,
h3 {
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color:bisque;
    flex: auto;
    text-shadow: 5px 5px 10px black;
}

h1 {
    font-size: 50px;
}

h3 {
    font-family: "Lucida Console", monospace;
    font-size: 20px;
}

.buttons {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: auto;
    gap: 50px;
}

button {
    height: 250px;
    width: 250px;
    display: flex;
    flex: none;
    border: 1px solid bisque;
    border-radius: 10px;
}

button:hover {
    border-color:orangered;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.results {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
    font-size: 20px;
}

.reset {
    height: 60px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 10px;
    border: 1px solid navajowhite;
    background-color:rgb(73, 8, 8);
    color: white;
}